# Created with package:mono_repo v2.3.0
language: dart

# Custom configuration
sudo: required
addons:
  chrome: stable
before_install:
  - tool/travis_setup.sh
  - "export PATH=$PATH:$PWD"
after_failure:
  - tool/report_failure.sh
services:
  - xvfb

jobs:
  include:
    - stage: analyzer_and_format
      name: "SDK: 2.6.0; PKGS: dwds, example, frontend_server_common, webdev; TASKS: `dartanalyzer --fatal-warnings .`"
      dart: "2.6.0"
      os: linux
      env: PKGS="dwds example frontend_server_common webdev"
      script: ./tool/travis.sh dartanalyzer_1
    - stage: analyzer_and_format
      name: "SDK: dev; PKGS: dwds, frontend_server_common; TASKS: [`dartfmt -n --set-exit-if-changed .`, `dartanalyzer --fatal-infos --fatal-warnings .`, `pub run test test/build/ensure_version_test.dart`]"
      dart: dev
      os: linux
      env: PKGS="dwds frontend_server_common"
      script: ./tool/travis.sh dartfmt dartanalyzer_0 test_0
    - stage: analyzer_and_format
      name: "SDK: dev; PKG: example; TASKS: [`dartfmt -n --set-exit-if-changed .`, `dartanalyzer --fatal-infos --fatal-warnings .`]"
      dart: dev
      os: linux
      env: PKGS="example"
      script: ./tool/travis.sh dartfmt dartanalyzer_0
    - stage: analyzer_and_format
      name: "SDK: dev; PKG: webdev; TASKS: [`dartfmt -n --set-exit-if-changed .`, `dartanalyzer --fatal-infos --fatal-warnings .`, `pub run test test/build/ensure_build_test.dart`]"
      dart: dev
      os: linux
      env: PKGS="webdev"
      script: ./tool/travis.sh dartfmt dartanalyzer_0 test_3
    - stage: unit_test
      name: "SDK: 2.6.0; PKG: dwds; TASKS: `pub run test -x frontend-server`"
      dart: "2.6.0"
      os: linux
      env: PKGS="dwds"
      script: ./tool/travis.sh test_1
    - stage: unit_test
      name: "SDK: dev; PKG: dwds; TASKS: `pub run test -x frontend-server`"
      dart: dev
      os: linux
      env: PKGS="dwds"
      script: ./tool/travis.sh test_1
    - stage: unit_test
      name: "SDK: 2.6.0; PKG: dwds; TASKS: `pub run test`"
      dart: "2.6.0"
      os: windows
      env: PKGS="dwds"
      script: ./tool/travis.sh test_2
    - stage: unit_test
      name: "SDK: 2.6.0; PKG: frontend_server_common; TASKS: `pub run test`"
      dart: "2.6.0"
      os: linux
      env: PKGS="frontend_server_common"
      script: ./tool/travis.sh test_2
    - stage: unit_test
      name: "SDK: stable; PKG: frontend_server_common; TASKS: `pub run test`"
      dart: stable
      os: linux
      env: PKGS="frontend_server_common"
      script: ./tool/travis.sh test_2
    - stage: unit_test
      name: "SDK: stable; PKG: frontend_server_common; TASKS: `pub run test`"
      dart: stable
      os: windows
      env: PKGS="frontend_server_common"
      script: ./tool/travis.sh test_2
    - stage: unit_test
      name: "SDK: 2.6.0; PKG: webdev; TASKS: `pub run test -j 1`"
      dart: "2.6.0"
      os: linux
      env: PKGS="webdev"
      script: ./tool/travis.sh test_4
    - stage: unit_test
      name: "SDK: 2.6.0; PKG: webdev; TASKS: `pub run test -j 1`"
      dart: "2.6.0"
      os: windows
      env: PKGS="webdev"
      script: ./tool/travis.sh test_4
    - stage: unit_test
      name: "SDK: dev; PKG: webdev; TASKS: `pub run test -j 1`"
      dart: dev
      os: linux
      env: PKGS="webdev"
      script: ./tool/travis.sh test_4

stages:
  - analyzer_and_format
  - unit_test

# Only building master means that we don't run two builds for each pull request.
branches:
  only:
    - master

cache:
  directories:
    - "$HOME/.pub-cache"
    - example/.dart_tool/build
    - example/.dart_tool/pub
