# Created with package:mono_repo v1.2.1
language: dart

# Custom configuration
sudo: required
addons:
  chrome: stable
before_install:
  - "export CHROMEDRIVER_BINARY=/usr/bin/google-chrome"
  - "export CHROMEDRIVER_ARGS=--no-sandbox"
  - "/usr/bin/google-chrome --version"
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - "wget http://chromedriver.storage.googleapis.com/2.40/chromedriver_linux64.zip"
  - unzip chromedriver_linux64.zip
  - "export PATH=$PATH:$PWD"
  - "chromedriver --port=4444 --url-base=wd/hub &"

jobs:
  include:
    - stage: analyzer_and_format
      name: "SDK: be/raw/latest - DIR: dwds - TASKS: [dartfmt -n --set-exit-if-changed ., dartanalyzer --fatal-infos --fatal-warnings .]"
      script: ./tool/travis.sh dartfmt dartanalyzer
      env: PKG="dwds"
      dart: be/raw/latest
    - stage: unit_test
      name: "SDK: be/raw/latest - DIR: dwds - TASKS: pub run test"
      script: ./tool/travis.sh test_0
      env: PKG="dwds"
      dart: be/raw/latest
    - stage: analyzer_and_format
      name: "SDK: dev - DIR: example - TASKS: [dartfmt -n --set-exit-if-changed ., dartanalyzer --fatal-infos --fatal-warnings .]"
      script: ./tool/travis.sh dartfmt dartanalyzer
      env: PKG="example"
      dart: dev
    - stage: analyzer_and_format
      name: "SDK: stable - DIR: example - TASKS: [dartfmt -n --set-exit-if-changed ., dartanalyzer --fatal-infos --fatal-warnings .]"
      script: ./tool/travis.sh dartfmt dartanalyzer
      env: PKG="example"
      dart: stable
    - stage: analyzer_and_format
      name: "SDK: dev - DIR: webdev - TASKS: [dartfmt -n --set-exit-if-changed ., dartanalyzer --fatal-infos --fatal-warnings .]"
      script: ./tool/travis.sh dartfmt dartanalyzer
      env: PKG="webdev"
      dart: dev
    - stage: analyzer_and_format
      name: "SDK: stable - DIR: webdev - TASKS: [dartfmt -n --set-exit-if-changed ., dartanalyzer --fatal-infos --fatal-warnings .]"
      script: ./tool/travis.sh dartfmt dartanalyzer
      env: PKG="webdev"
      dart: stable
    - stage: unit_test
      name: "SDK: dev - DIR: webdev - TASKS: pub run test -j 1 --run-skipped"
      script: ./tool/travis.sh test_1
      env: PKG="webdev"
      dart: dev
    - stage: unit_test
      name: "SDK: stable - DIR: webdev - TASKS: pub run test -j 1 --run-skipped"
      script: ./tool/travis.sh test_1
      env: PKG="webdev"
      dart: stable
    - stage: unit_test
      name: "SDK: be/raw/latest - DIR: webdev - TASKS: pub run test -t requires-edge-sdk --run-skipped"
      script: ./tool/travis.sh test_2
      env: PKG="webdev"
      dart: be/raw/latest

stages:
  - analyzer_and_format
  - unit_test

# Only building master means that we don't run two builds for each pull request.
branches:
  only:
    - master

cache:
  directories:
    - "$HOME/.pub-cache"
    - example/.dart_tool
