# Created with package:mono_repo v2.0.0
language: dart

# Custom configuration
sudo: required
addons:
  chrome: stable
before_install:
  - "export CHROMEDRIVER_BINARY=/usr/bin/google-chrome"
  - "export CHROMEDRIVER_ARGS=--no-sandbox"
  - "/usr/bin/google-chrome --version"
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - "wget http://chromedriver.storage.googleapis.com/2.40/chromedriver_linux64.zip"
  - unzip chromedriver_linux64.zip
  - "export PATH=$PATH:$PWD"

jobs:
  include:
    - stage: analyzer_and_format
      name: "SDK: dev; PKGS: dwds, example, webdev; TASKS: [`dartfmt -n --set-exit-if-changed .`, `dartanalyzer --fatal-infos --fatal-warnings .`]"
      dart: dev
      env: PKGS="dwds example webdev"
      script: ./tool/travis.sh dartfmt dartanalyzer_0
    - stage: analyzer_and_format
      name: "SDK: 2.1.0; PKG: dwds; TASKS: `dartanalyzer --fatal-warnings .`"
      dart: "2.1.0"
      env: PKGS="dwds"
      script: ./tool/travis.sh dartanalyzer_1
    - stage: unit_test
      name: "SDK: 2.2.0; PKG: dwds; TASKS: `pub run test`"
      dart: "2.2.0"
      env: PKGS="dwds"
      script: ./tool/travis.sh test_0
    - stage: unit_test
      name: "SDK: dev; PKG: dwds; TASKS: `pub run test`"
      dart: dev
      env: PKGS="dwds"
      script: ./tool/travis.sh test_0
    - stage: analyzer_and_format
      name: "SDK: 2.0.0; PKG: example; TASKS: `dartanalyzer --fatal-warnings .`"
      dart: "2.0.0"
      env: PKGS="example"
      script: ./tool/travis.sh dartanalyzer_1
    - stage: analyzer_and_format
      name: "SDK: 2.2.1-dev.2.0; PKG: webdev; TASKS: `dartanalyzer --fatal-warnings .`"
      dart: "2.2.1-dev.2.0"
      env: PKGS="webdev"
      script: ./tool/travis.sh dartanalyzer_1
    - stage: unit_test
      name: "SDK: dev; PKG: webdev; TASKS: `pub run test -j 1 --run-skipped`"
      dart: dev
      env: PKGS="webdev"
      script: ./tool/travis.sh test_1
    - stage: unit_test
      name: "SDK: 2.2.1-dev.2.0; PKG: webdev; TASKS: `pub run test -j 1 --run-skipped`"
      dart: "2.2.1-dev.2.0"
      env: PKGS="webdev"
      script: ./tool/travis.sh test_1

stages:
  - analyzer_and_format
  - unit_test

# Only building master means that we don't run two builds for each pull request.
branches:
  only:
    - master

cache:
  directories:
    - "$HOME/.pub-cache"
    - example/.dart_tool
