/**
 * WARNING: THIS STYLESHEET IS INJECTED INTO EVERY WEBPAGE. 
 * 
 * All classes should be prefixed with "dart-debug-extension"
 * to avoid interfering with other styles on the page.
 */

.dart-debug-extension-snackbar {
  background-color: #303030;
  color: #eeeeee;
  font-family:  Roboto, 'Helvetica Neue', sans-serif;
  left: 0px;
  padding: 16px;
  position: fixed;
  right: 0px;
  text-align: center;
  top: 0px;
  visibility: hidden;
  width: 100%;
  z-index: 2147483647;
 }

.dart-debug-extension-snackbar > a {
  color: #eeeeee;
  font-weight: bold;
 }

.dart-debug-extension-show {
  -webkit-animation: dart-debug-extension-fadein 0.5s;
  animation: dart-debug-extension-fadein 0.5s;
  visibility: visible;
 }

@-webkit-keyframes dart-debug-extension-fadein {
  from {
    opacity: 0;
    top: 0;
   }
  to {
    opacity: 1;
    top: 0px;
   }
 }

@keyframes dart-debug-extension-fadein {
  from {
    opacity: 0;
    top: 0;
   }
  to {
    opacity: 1;
    top: 0px;
   }
 }
