name: mv3_extension
publish_to: none
version: 1.30.0
homepage: https://github.com/dart-lang/webdev
description: >-
  A Chrome extension for Dart debugging.

environment:
  sdk: '>=2.18.0 <3.0.0'

dependencies:
  built_value: ^8.3.0
  js: ^0.6.1+1

dev_dependencies:
  build: ^2.0.0
  build_web_compilers: ^3.0.0
  build_runner: ^2.0.6
  built_value_generator: ^8.3.0
  dwds: ^16.0.0
  intl: ^0.16.1

dependency_overrides:
  dwds:
    path: ..
