name: mv3_extension
publish_to: none
version: 1.34.0
homepage: https://github.com/dart-lang/webdev
description: >-
  A Chrome extension for Dart debugging.

environment:
  sdk: ">=3.1.0-254.0.dev <4.0.0"

dependencies:
  built_value: ^8.3.0
  collection: ^1.15.0
  js: ^0.6.1+1

dev_dependencies:
  build: ^2.0.0
  # TODO(https://github.com/dart-lang/build/issues/3531) Remove pin once fixed. 
  build_runner: 2.4.3
  built_collection: ^5.0.0
  built_value_generator: ^8.3.0
  build_web_compilers: ^4.0.4
  dwds: ^16.0.0
  sse: ^4.1.2
  web_socket_channel: ^2.2.0

dependency_overrides:
  dwds:
    path: ..
