name: dwds
version: 0.1.0
author: Dart Team <misc@dartlang.org>
homepage: https://github.com/dart-lang/webdev/tree/master/dwds
description: >-
  A service that proxies between the Chrome debug protocol and the Dart vm
  service protocol.
environment:
  sdk: ^2.1.0
dependencies:
  http_multi_server: ^2.0.0
  pub_semver: ^1.4.2
  source_maps: ^0.10.0
  vm_service_lib: 3.14.3-dev.4
  webkit_inspection_protocol: ^0.4.0
dev_dependencies:
  args: ^1.0.0
  build_runner: ^1.0.0
  build_web_compilers: ^1.0.0
  pedantic: ^1.0.0
  test: ^1.0.0
  webdriver: ^2.0.0
