name: dwds
# Every time this changes you need to run `dart run build_runner build`.
version: 13.0.0
homepage: https://github.com/dart-lang/webdev/tree/master/dwds
description: >-
  A service that proxies between the Chrome debug protocol and the Dart VM
  service protocol.

environment:
  sdk: ">=2.16.0 <3.0.0"

dependencies:
  _fe_analyzer_shared: ^34.0.0
  async: ^2.3.0
  built_collection: ^5.0.0
  built_value: '>=6.7.0 <9.0.0'
  crypto: '>=2.0.6 <4.0.0'
  dds: ^2.2.0
  file: ^6.1.2
  http: '>=0.12.0 <0.14.0'
  http_multi_server: ^3.0.0
  logging: '>=0.11.3 <2.0.0'
  meta: ^1.1.7
  package_config: ^2.0.0
  path: ^1.6.0
  pool: ^1.4.0
  pub_semver: ^2.0.0
  shelf: '>=0.7.0 <2.0.0'
  shelf_packages_handler: '^3.0.0'
  shelf_proxy: '>=0.1.0+6 <2.0.0'
  shelf_static: ^1.0.0
  shelf_web_socket: ^1.0.0
  source_maps: ^0.10.0
  stack_trace: ^1.10.0
  sse: ^4.1.0
  uuid: '>=2.0.0 <4.0.0'
  vm_service: ^8.2.0
  web_socket_channel: ^2.0.0
  webkit_inspection_protocol: ^1.0.0

dev_dependencies:
  args: ^2.0.0
  build: ^2.0.0
  build_daemon: ^3.0.0
  build_runner: ^2.0.6
  build_version: ^2.0.0
  build_web_compilers: ^3.0.0
  built_value_generator: ^8.0.0
  graphs: ^2.0.0
  frontend_server_common:
    path: ../frontend_server_common
  js: ^0.6.1
  pubspec_parse: ^1.0.0
  stream_channel: ^2.0.0
  test: ^1.6.0
  webdriver: '>=2.0.0 <4.0.0'
