name: dwds
# Every time this changes you need to run `dart run build_runner build`.
version: 25.1.0+2

description: >-
  A service that proxies between the Chrome debug protocol and the Dart VM
  service protocol.
repository: https://github.com/dart-lang/webdev/tree/main/dwds
environment:
  sdk: ^3.7.0

dependencies:
  async: ^2.9.0
  built_collection: ^5.1.1
  built_value: ^8.3.0
  collection: ^1.15.0
  crypto: ^3.0.2
  dds: '>=4.2.5 <6.0.0'
  file: '>=6.1.4 <8.0.0'
  http: ^1.0.0
  http_multi_server: ^3.2.0
  logging: ^1.0.2
  meta: ^1.9.1
  package_config: ^2.0.2
  path: ^1.8.1
  pool: ^1.5.0
  pub_semver: ^2.1.1
  shelf: ^1.3.0
  shelf_packages_handler: ^3.0.0
  shelf_proxy: ^1.0.4
  shelf_static: ^1.1.0
  shelf_web_socket: '>=2.0.0 <4.0.0'
  source_maps: ^0.10.10
  stack_trace: ^1.10.0
  stream_channel: ^2.1.2
  sse: ^4.1.2
  uuid: ^4.0.0
  vm_service: '>=14.2.4 <16.0.0'
  vm_service_interface: ^2.0.1
  web_socket_channel: '>=2.2.0 <4.0.0'
  web: ^1.1.0
  webkit_inspection_protocol: ^1.0.1

dev_dependencies:
  analysis_config:
    path: ../_analysis_config
  args: ^2.4.2
  build: ^2.3.1
  build_daemon: ^4.0.0
  build_runner: ^2.4.1
  build_version: ^2.1.1
  build_web_compilers: ^4.0.8
  built_value_generator: ^8.4.2
  graphs: ^2.1.0
  frontend_server_common:
    path: ../frontend_server_common
  io: ^1.0.5
  js: '>=0.6.4 <0.8.0'
  pubspec_parse: ^1.2.0
  puppeteer: ^3.1.1
  test: ^1.21.6
  test_common:
    path: ../test_common
  webdriver: ^3.0.0
