name: dwds
version: 0.3.2
author: Dart Team <misc@dartlang.org>
homepage: https://github.com/dart-lang/webdev/tree/master/dwds
description: >-
  A service that proxies between the Chrome debug protocol and the Dart VM
  service protocol.

environment:
  sdk: ">=2.2.1-dev.2.0 <3.0.0"

dependencies:
  http: ^0.12.0
  http_multi_server: ^2.0.0
  path: ^1.6.0
  pedantic: ^1.5.0
  pub_semver: ^1.4.2
  shelf: ^0.7.0
  shelf_web_socket: ^0.2.0
  source_maps: ^0.10.0
  vm_service_lib: 3.15.1+1
  web_socket_channel: ^1.0.0
  webkit_inspection_protocol: ^0.4.0

dev_dependencies:
  args: ^1.0.0
  build_runner: ^1.0.0
  build_web_compilers: '>=1.0.0 <3.0.0'
  test: ^1.6.0
  webdriver: ^2.0.0
  webdev: ^2.0.0

dependency_overrides:
  webdev:
    path: ../webdev
