name: dwds
version: 0.7.6-dev
author: Dart Team <misc@dartlang.org>
homepage: https://github.com/dart-lang/webdev/tree/master/dwds
description: >-
  A service that proxies between the Chrome debug protocol and the Dart VM
  service protocol.

environment:
  sdk: ">=2.5.0 <3.0.0"

dependencies:
  async: ^2.3.0
  build_daemon: ^2.0.0
  built_value: ^6.7.0
  crypto: ^2.0.6
  devtools: ^0.1.8-dev.1
  devtools_server: ^0.1.8
  http: ^0.12.0
  http_multi_server: ^2.0.0
  logging: ^0.11.3
  meta: ^1.1.7
  package_resolver: ^1.0.0
  path: ^1.6.0
  pedantic: ^1.5.0
  pub_semver: ^1.4.2
  shelf: ^0.7.0
  shelf_proxy: ^0.1.0+6
  shelf_static: ^0.2.8
  shelf_web_socket: ^0.2.0
  source_maps: ^0.10.0
  sse: ^2.0.2
  vm_service: 1.2.0
  web_socket_channel: ^1.0.0
  webkit_inspection_protocol: '>=0.4.0 <0.6.0'

dev_dependencies:
  args: ^1.0.0
  build: ^1.1.5
  build_runner: ^1.6.2
  build_web_compilers: '>=1.0.0 <3.0.0'
  built_collection: ^4.2.0
  built_value_generator: ^6.4.0
  graphs: ^0.2.0
  js: ^0.6.1
  stream_channel: ^2.0.0
  test: ^1.6.0
  uuid: ^2.0.0
  webdriver: ^2.0.0
