name: webdev
description: A CLI for Dart web development.
author: Dart Team <misc@dartlang.org>
homepage: https://github.com/dart-lang/webdev
version: 0.1.0-dev

environment:
  sdk: ">=2.0.0-dev.32.0 <2.0.0"

dependencies:
  args: ^1.2.0

executables:
  webdev:
