name: webdev
version: 2.0.0-dev
author: Dart Team <misc@dartlang.org>
homepage: https://github.com/dart-lang/webdev
description: >-
  A CLI for Dart web development. Provides an easy and consistent set of
  features for users and tools to build and deploy web applications with Dart.

environment:
  sdk: ">=2.0.0-dev.64.1 <3.0.0"

dependencies:
  args: ^1.5.0
  build_daemon: ^0.5.0
  built_value: ^6.3.0
  crypto: ^2.0.6
  dwds: ^0.1.0-dev
  devtools: ^0.0.13-dev.0
  io: ^0.3.2+1
  meta: ^1.1.2
  path: ^1.5.1
  pub_semver: ^1.3.2
  shelf: ^0.7.4
  shelf_proxy: ^0.1.0+5
  stack_trace: ^1.9.2
  sse: ^2.0.0
  uuid: ^2.0.0
  webkit_inspection_protocol: ^0.4.0
  yaml: ^2.1.13

dev_dependencies:
  build_runner: ^1.0.0
  built_value_generator: ^6.2.0
  build_verify: ^1.0.0
  build_version: ^2.0.0
  test: ^1.0.0
  test_descriptor: ^1.0.3
  test_process: ^1.0.1
  webdriver: ^2.0.0

dependency_overrides:
  dwds:
    path: ../dwds
  build_daemon:
    path: /usr/local/google/home/grouma/Projects/build/build_daemon

executables:
  webdev:
