name: webdev
# Every time this changes you need to run `dart run build_runner build`.
version: 2.7.7
# We should not depend on a dev SDK before publishing.
# publish_to: none
homepage: https://github.com/dart-lang/webdev
description: >-
  A CLI for Dart web development. Provides an easy and consistent set of
  features for users and tools to build and deploy web applications with Dart.

environment:
  sdk: ">=2.15.0 <3.0.0"

dependencies:
  args: ^2.0.0
  async: ^2.2.0
  build_daemon: '>=2.0.0 <4.0.0'
  browser_launcher: ^1.0.0
  crypto: ^3.0.0
  dds: ^2.0.0
  dwds: ^11.5.1
  http: ^0.13.0
  http_multi_server: ^3.0.0
  io: ^1.0.0
  logging: ^1.0.0
  meta: ^1.1.2
  path: ^1.5.1
  pool: ^1.4.0
  pubspec_parse: ^1.0.0
  pub_semver: ^2.0.0
  shelf: ^1.0.0
  shelf_proxy: ^1.0.0
  shelf_static: ^1.0.0
  stack_trace: ^1.10.0
  sse: ^4.1.0
  vm_service: '>=3.0.0 <8.0.0'
  webkit_inspection_protocol: '>=0.4.0 <2.0.0'
  yaml: ^3.0.0
  # devtools_server indirectly depends on devtools so keep this around.
  devtools: ^2.0.0
  devtools_server: ^2.0.0

dev_dependencies:
  build: ^2.0.0
  build_runner: ^2.0.0
  build_verify: ^2.0.0
  build_version: ^2.0.0
  test: ^1.15.0
  test_descriptor: ^2.0.0
  test_process: ^2.0.2
  webdriver: ^3.0.0

# Uncomment for development versions
dependency_overrides:
   dwds:
     path: ../dwds

executables:
  webdev:
