name: webdev
description: A CLI for Dart web development.
author: Dart Team <misc@dartlang.org>
homepage: https://github.com/dart-lang/webdev

environment:
  sdk: ">=2.0.0-dev.3.0 <2.0.0"

dependencies:
  args: ^1.2.0
  build_runner: ^0.7.7
  build_web_compilers: ^0.2.0

dev_dependencies:
  test: "^0.12.0"
