name: webdev
version: 2.2.0
author: Dart Team <misc@dartlang.org>
homepage: https://github.com/dart-lang/webdev
description: >-
  A CLI for Dart web development. Provides an easy and consistent set of
  features for users and tools to build and deploy web applications with Dart.

environment:
  sdk: ">=2.3.0-dev.0.3 <3.0.0"

dependencies:
  args: ^1.5.0
  async: ^2.2.0
  build_daemon: ^1.1.0
  built_value: ^6.3.0
  crypto: ^2.0.6
  dwds: ^0.3.3
  devtools: ^0.0.15-dev.1
  http: ^0.12.0
  http_multi_server: ^2.1.0
  io: ^0.3.2+1
  logging: ^0.11.0
  pedantic: ^1.5.0
  meta: ^1.1.2
  path: ^1.5.1
  pubspec_parse: ^0.1.4
  pub_semver: ^1.3.2
  shelf: ^0.7.4
  shelf_proxy: ^0.1.0+5
  shelf_static: ^0.2.8
  stack_trace: ^1.9.2
  sse: ^2.0.0
  vm_service_lib: ^3.14.2
  webkit_inspection_protocol: ^0.4.0
  yaml: ^2.1.13

dev_dependencies:
  build: ^1.0.0
  build_runner: ^1.0.0
  build_web_compilers: '>=1.0.0 <3.0.0'
  build_verify: ^1.0.0
  build_version: ^2.0.0
  built_value_generator: ^6.4.0
  graphs: ^0.2.0
  js: ^0.6.1
  test: ^1.6.0
  test_descriptor: ^1.0.3
  test_process: ^1.0.1
  uuid: ^2.0.0
  webdriver: ^2.0.0

executables:
  webdev:
