name: webdev
# Every time this changes you need to run `dart run build_runner build`.
version: 2.7.10
# We should not depend on a dev SDK before publishing.
# publish_to: none
description: >-
  A CLI for Dart web development. Provides an easy and consistent set of
  features for users and tools to build and deploy web applications with Dart.
repository: https://github.com/dart-lang/webdev/tree/master/webdev

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  args: ^2.3.1
  async: ^2.9.0
  build_daemon: ^3.1.0
  browser_launcher: ^1.1.0
  crypto: ^3.0.2
  dds: ^2.2.0
  # Pin DWDS to avoid dependency conflicts with vm_service:
  dwds: 14.0.3
  http: ^0.13.4
  http_multi_server: ^3.2.0
  io: ^1.0.3
  logging: ^1.0.2
  meta: ^1.7.0
  path: ^1.8.1
  pool: ^1.5.0
  pubspec_parse: ^1.2.0
  pub_semver: ^2.1.1
  shelf: ^1.3.0
  shelf_proxy: ^1.0.1
  shelf_static: ^1.1.0
  stack_trace: ^1.10.0
  sse: ^4.1.0
  vm_service: ^8.3.0
  webkit_inspection_protocol: ^1.0.1
  yaml: ^3.1.1

dev_dependencies:
  build: ^2.3.0
  build_runner: ^2.1.10
  build_verify: ^3.0.0
  build_version: ^2.1.1
  test: ^1.21.1
  test_descriptor: ^2.0.0
  test_process: ^2.0.2
  webdriver: ^3.0.0

# Comment out before releasing webdev.
# dependency_overrides:
#   dwds:
#     path: ../dwds

executables:
  webdev:
