# A CI workflow to make sure a release is properly finished.

name: Release Reminder

on:
  pull_request:
    types: [synchronize, opened, reopened, labeled, unlabeled]

jobs:
  release-reminder:
    if: ${{ !contains(github.event.*.labels.*.name, 'prepare-release') }}
    name: Maybe prevent submission
    runs-on: ubuntu-latest
    steps:
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
        with:
          sdk: dev
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: Run proper release test
        run: dart test test/proper_release_test.dart
        working-directory: test_common
